.ingredient-button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:1px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#2e2e2e;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.ingredient-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.ingredient-button:active {
	position:relative;
	top:1px;
}

.ingredient-button-selected {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #000000 5%, #464646 100%);
	background-color:#000000;
	border-radius:1px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#f1f1f1;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
}
.ingredient-button-selected:hover {
	background:linear-gradient(to bottom, #464646 5%, #000000 100%);
	background-color:#f6f6f6;
}
.ingredient-button-selected:active {
	position:relative;
	top:1px;
}

.ingredient-button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:1px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#2e2e2e;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.ingredient-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.ingredient-button:active {
	position:relative;
	top:1px;
}
.clear-btn {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-left: 10px;
    /* margin-top: 5px */
}
.clear-btn:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.clear-btn:active {
	position:relative;
	top:1px;
}
