*, *:before, *:after {
    box-sizing: border-box;
    transition: all 0.5 ease;
  }
  
  
  span {
      width: 100%;
      max-width: 400px;
      height: auto;
      /* background-color: white; */
      /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

}

span.closed header { cursor: pointer; }
header { cursor: pointer; }

.header {
    width: 100%;
    height: 250px;
    background: center / cover;
    /* background-image: url(https://3.bp.blogspot.com/-v7vHC8w2AKs/TbbD-X8BhTI/AAAAAAAAAJ4/LCcrwIaMgf0/s1600/Mint+Julep+glass+tools.jpg); */
}

.title {
    z-index: 1;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 0px;
  }
  
span.closed .title {
    padding: 40px 20px 10px 20px;
    margin-top: -130px;
    color:white;
    text-shadow: 2px 2px black;
    border: none;


}

.title:before {
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); */
    opacity: 0;
}

span.closed .title:before {
    opacity: 1;
    border-width: none;
}

article {
    padding: 25px 30px;
    overflow: scroll;
    max-height: 500px;



} 

span.closed article {
    max-height: 0px;
    padding: 0 30px;


}

.ingredients {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    padding-left: 4px;
    font-size: 0.9rem;
}

.ingredients > li {
    list-style-type: none;
    display: flex;
    margin: 4px 0px;
}

.ingredients > li > .amount {
    width: 80px;
    color: #1976D2;
}

.preperation > div {
    margin-bottom: 10px;
  }