.macros-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:1px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#2e2e2e;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-left: 30px;
}
.macros-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.macros-button:active {
	position:relative;
	top:1px;
}
.user-form{
	background-color: #FDD037;
	padding-top: 0.1px;
	padding-bottom: 15px;
}